@model SegfyLarissa.Models.Seguro

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h4>O registro será excluído. Deseja Continuar?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjSegurado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjSegurado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar ao Menu", "Index")
        </div>
    }
</div>
